@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #f6f7fb;
  font-family: 'Roboto', 'san-serif';
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.carousel {
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
  height: 530px;
  width: 500px;
  overflow: hidden;
}
.image-container {
  display: flex;
  transform: translateX(0);
  transition: transform 0.5s ease-in-out;
}

img {
  object-fit: cover;
  width: 500px;
  height: 500px;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
}

.btn {
  background-color: bisque;
  color: gray;
  border: none;
  padding: 8px;
  cursor: pointer;
  width: 49.5%;
  font-family: inherit;
}

.btn:hover {
  color: black;
  font-weight: bolder;
}

.btn:focus {
  outline: none;
}